@media (min-width: 700px) {
	h2 {
		margin: 0.75em;
		margin-bottom: 0;
	}

	h3 {
		text-align: left;
		margin-left: 0;
	}

	.top {
		justify-content: space-between;
		padding: 0;
		margin-top: 3.5em;
		width: 90vw;
		justify-self: center;
	}

	.titleAndMenu {
		gap: 2.5em;
	}

	.desktopMenu {
		display: flex;
		gap: 1.5em;
	}

	.desktopButton {
		display: block;
	}

	.connectButtons {
		display: flex;
		align-items: center;
		justify-content: center;
		max-width: 30%;
	}

	#loginButton {
		background-color: rgba(255, 0, 0, 0);
		color: rgba(255, 255, 255, 0.75);
		border: none;
	}

	#loginButton:hover {
		border: 1px solid white;
	}

	#signUpButton {
		color: hsl(356, 100%, 66%);
	}

	.titleAndDescription {
		margin-bottom: 10rem;
	}

	.designedFutureDesc {
		display: flex;
		flex-direction: row-reverse;
		justify-content: space-evenly;
	}

	.designFutureDescription {
		display: flex;
		flex-direction: column;
		justify-content: center;
		width: 50vw;
		padding-left: 8em;
	}

	.imgDesignFuture {
		width: 60vw;
		background-position: right center;
		background-size: contain;
		margin-right: -5em;
	}

	.yap {
		text-align: left;
		padding-bottom: 3rem;
		padding-left: 0;
	}

	.stateArtSection {
		display: flex;
		align-items: center;
		max-height: 20rem;
	}

	.stateArtTitle {
		text-align: left;
		margin-left: 0;
	}

	.imgPhones {
		padding: 15em;
		margin: -1rem 0 0 0;
	}

	.freeOpenSimpleSection {
		display: flex;
	}

	.imgLaptop {
		min-width: 50vw;
		background-image: url(../images/illustration-laptop-desktop.svg);
		background-position: left center;
		padding-top: 22rem;
		padding-bottom: 22rem;
		margin-left: -14vw;
	}

	.laptopDescription {
		display: flex;
		flex-direction: column;
		justify-content: center;
		min-width: 50vw;
		padding: 3rem;
	}

	.menu {
		display: none;
	}

	.attribution {
		display: flex;
		justify-content: space-evenly;
		gap: 5em;
		padding: 6rem;
		padding-left: 0;
	}

	.attribution h4 {
		margin-top: 0;
	}
}

@media (min-width: 1100px) {
	h1,
	h2 {
		font-size: 2.5em;
	}

	h3 {
		font-size: 1.7em;
	}

	.title {
		font-size: 3.5em;
		color: white;
	}

	.stateArtSection {
		justify-content: space-evenly;
	}

	.stateArtDescription {
		max-width: 35em;
		padding: 1em;
	}

	.imgLaptop {
		margin-left: -13vw;
	}

	.descriptionDesktop {
		/* padding: 0; */
	}

	.descriptionDesktop p {
		max-width: 60rem;
	}

	.titleAndMenu {
		gap: 4em;
	}
}
