* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Overpass, sans-serif;
}

body {
	font-family: Overpass, sans-serif;
	/* font-family: Ubuntu, sans-serif; */
}

footer {
	background-color: var(--clr-vd-black-blue);
	padding: 1rem;
	color: white;
}

ul {
	list-style: none;
}

h2,
h3 {
	text-align: center;
	color: var(--grad-bg-body-start);
	font-size: 1.5em;
	margin: 0rem 1.7rem 0.75rem 1.7rem;
}

button {
	margin: 0.25rem;
	width: 8.5rem;
	height: 3rem;
	border-radius: 25px;
	border: 1px solid white;
	font-weight: 700;
	font-size: 1em;
}

p {
	word-wrap: break-word;
	overflow-wrap: break-word;
}

:root {
	/* Primary */
	--clr-light-red: hsl(356, 100%, 66%);
	--clr-vlt-red: hsl(355, 100%, 74%);
	--clr-vd-blue: hsl(208, 49%, 24%);

	/* Neutral */
	--clr-white: hsl(0, 0%, 100%);
	--clr-grayish-blue: hsl(240, 2%, 79%);
	--clr-vd-grayish-blue: hsl(207, 13%, 34%);
	--clr-vd-black-blue: hsl(240, 10%, 16%);

	/* Gradient - Intro/CTA mobile nav */
	--grad-bg-intro-start: hsl(13, 100%, 72%);
	--grad-bg-intro-end: hsl(353, 100%, 62%);

	/* Gradient - Body */
	--grad-bg-body-start: hsl(237, 17%, 21%);
	--grad-bg-body-end: hsl(237, 23%, 32%);
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

/* TODO HEADER TODO */

.hidden,
.hidden * {
	display: none;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5rem;
	background: linear-gradient(135deg, var(--grad-bg-intro-start), var(--grad-bg-intro-end));
	min-height: 33rem;
	border-bottom-left-radius: 5rem;
	text-align: center;
	color: white;
}

.top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding: 1.5rem;
}

.desktopMenuOptions {
	display: flex;
	gap: 2em;
}

.arrow {
	background-image: url(../images/icon-arrow-light.svg);
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 10%;
	padding-right: 0.75em;
	position: relative;
}

.arrow:hover {
	cursor: pointer;
	color: rgba(255, 255, 255, 0.568);
}

.floating-menu {
	background-color: rgb(245, 245, 245);
	color: black;
	display: flex;
	flex-direction: column;
	position: absolute;
	margin-left: -1em;
	top: 2em;
	border-radius: 5px;
	font-size: 1em;
	text-align: left;
	font-weight: 500;
	max-width: 9em;
	box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.5);
}

.floating-menu * {
	padding: 0.5em;
	padding-right: 3em;
}

.floating-menu *:hover {
	font-weight: bold;
	cursor: pointer;
}

.floating-menu:first-child {
	padding-top: 0.75em;
}

.floating-menu:last-child {
	padding-bottom: 0.75em;
}

.menu {
	background-image: url(../images/icon-hamburger.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	padding: 1rem;
}

.titleAndDescription {
	display: flex;
	flex-direction: column;
	gap: 1em;
	font-weight: 300;
	width: 90%;
}

.title {
	font-size: 2em;
	font-weight: 500;
	align-self: center;
	color: white;
}

.titleDescription {
	font-size: 1.25em;
	color: rgba(255, 255, 255, 0.75);
}

.headButtons {
	margin-top: 1.5em;
}

#startForFree {
	background-color: white;
	color: hsl(353, 100%, 62%);
}

#learnMore {
	background-color: rgba(255, 0, 0, 0);
	color: white;
}

/* TODO Designed for the future TODO */

.designedForFutureSection {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-bottom: 10em;
}

.imgDesignFuture {
	background-image: url(../images/illustration-editor-mobile.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding-top: 17em;
	padding-bottom: 17em;
}

.yap {
	text-align: center;
	padding-bottom: 4rem;
	font-weight: 200;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 0.95em;
	line-height: 1.75em;
}

/* TODO PHONES SECTION TODO */

.stateArtSection {
	color: white;
	background: url(../images/bg-pattern-circles.svg) center -20vh, linear-gradient(45deg, var(--grad-bg-body-start), var(--grad-bg-body-end));
	background-size: contain;
	background-repeat: no-repeat;
	border-top-right-radius: 5rem;
	border-bottom-left-radius: 5rem;
}

.stateArtTitle {
	color: white;
}

.imgPhones {
	padding-top: 10em;
	padding-bottom: 10em;
	background-image: url(../images/illustration-phones.svg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
	margin-top: -10em;
}

/* TODO LAPTOP SECTION TODO */

.imgLaptop {
	padding-top: 10em;
	padding-bottom: 10em;
	background-image: url(../images/illustration-laptop-mobile.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.attribution {
	border-top-right-radius: 5rem;
	font-size: 1em;
	padding-bottom: 3em;
}

.attribution h4 {
	font-size: 2.5em;
	margin: 1em;
}

.attribution h5 {
	font-weight: 700;
	font-size: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.attribution li {
	padding: 0.25em;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.582);
}
