* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: Overpass, sans-serif;
}

html {
	overflow-x: hidden;
}

body {
	font-family: Overpass, sans-serif;
	overflow-x: hidden;
}

footer {
	background-color: var(--clr-vd-black-blue);
	padding: 1rem;
	color: white;
}

ul {
	list-style: none;
}

h2,
h3 {
	text-align: center;
	color: var(--grad-bg-body-start);
	font-size: 1.5em;
	margin: 0rem 1.7rem 0.75rem 1.7rem;
}

p {
	word-wrap: break-word;
	overflow-wrap: break-word;
}

a {
	text-decoration: none;
	color: black;
}

button:hover {
	cursor: pointer;
	opacity: 0.75;
}

:root {
	/* Primary */
	--clr-light-red: hsl(356, 100%, 66%);
	--clr-vlt-red: hsl(355, 100%, 74%);
	--clr-vd-blue: hsl(208, 49%, 24%);

	/* Neutral */
	--clr-white: hsl(0, 0%, 100%);
	--clr-grayish-blue: hsl(240, 2%, 79%);
	--clr-vd-grayish-blue: hsl(207, 13%, 34%);
	--clr-vd-black-blue: hsl(240, 10%, 16%);

	/* Gradient - Intro/CTA mobile nav */
	--grad-bg-intro-start: hsl(13, 100%, 72%);
	--grad-bg-intro-end: hsl(353, 100%, 62%);

	/* Gradient - Body */
	--grad-bg-body-start: hsl(237, 17%, 21%);
	--grad-bg-body-end: hsl(237, 23%, 32%);
}

.flex-center {
	display: flex;
	align-items: center;
	justify-content: center;
}

.container {
	display: flex;
	flex-direction: column;
	gap: 4rem;
}

/* TODO HEADER TODO */

.hidden,
.hidden * {
	display: none;
}

.button {
	margin: 0.25rem;
	width: 8.5rem;
	height: 3rem;
	border-radius: 25px;
	border: 1px solid white;
	font-weight: 700;
	font-size: 1em;
}

.header {
	display: flex;
	flex-direction: column;
	align-items: center;
	gap: 5rem;
	background: linear-gradient(135deg, var(--grad-bg-intro-start), var(--grad-bg-intro-end));
	min-height: 33rem;
	border-bottom-left-radius: 5rem;
	text-align: center;
	color: white;
}

.top {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	padding: 1.5rem;
}

.arrow {
	display: flex;
	flex-direction: row;
	position: relative;
	border: none;
	background-color: #ffffff00;
	color: rgba(255, 255, 255, 0.75);
	font-weight: 500;
	font-size: 1em;
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="7"><path fill="none" stroke="%23FFF" stroke-width="2" opacity=".75" d="M1 1l4 4 4-4"/></svg>');
	background-position: right center;
	background-repeat: no-repeat;
	background-size: 0.7rem;
	padding-right: 1em;
}

.arrow:hover {
	cursor: pointer;
	text-decoration: underline;
	color: rgba(255, 255, 255, 1);
}

.arrow:hover svg {
	animation: rotateAnimation 0.7s ease forwards;
}

.dropdown {
	position: relative;
}

.dropdown.active .arrow {
	background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" width="10" height="7" style="transform: rotate(180deg); transition: transform 0.3s ease;"><path fill="none" stroke="%23FFF" stroke-width="2" opacity="1" d="M1 1l4 4 4-4"/></svg>');
	background-repeat: no-repeat;
	background-position: right center;
	background-size: 0.7rem;
	color: white;
}

.dropdown.active + .link,
.link:hover {
	color: white;
}

.dropdown-menu {
	position: absolute;
	left: calc(0% - 0.5rem);
	top: calc(100% + 0.25rem);
	background-color: white;
	color: black;
	padding: 0.75rem;
	border-radius: 0.25rem;
	box-shadow: 4px 4px 15px 0 rgba(0, 0, 0, 0.25);
	opacity: 0;
	transform: translateY(-10px);
	transition: opacity 150ms ease-in-out, transform 250ms ease-in-out;
	pointer-events: none;
	min-width: 8rem;
	display: flex;
	flex-direction: column;
	gap: 0.5em;
	text-align: left;
	padding-left: 1.5em;
}

.dropdown.active > .link + .dropdown-menu {
	opacity: 1;
	transform: translateY(0px);
	pointer-events: auto;
}

.dropdown-menu span:hover {
	cursor: pointer;
	font-weight: bold;
}

.menu {
	background-image: url(../images/icon-hamburger.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: contain;
	padding: 1rem;
}

.titleAndMenu {
	display: flex;
	align-items: center;
	justify-content: flex-start;
	gap: 2em;
}

.desktopMenu {
	display: none;
}

.titleAndDescription {
	display: flex;
	flex-direction: column;
	gap: 1em;
	font-weight: 300;
	width: 90%;
}

.title {
	font-size: 2em;
	font-weight: 500;
	align-self: center;
	color: white;
}

.titleDescription {
	font-size: 1.25em;
	color: rgba(255, 255, 255, 0.75);
}

.headButtons {
	margin-top: 1.5em;
}

.desktopButton {
	display: none;
}

#startForFree {
	background-color: white;
	color: hsl(353, 100%, 62%);
}

#learnMore {
	background-color: rgba(255, 0, 0, 0);
	color: white;
}

/* TODO Designed for the future TODO */

.designedForFutureSection {
	display: flex;
	flex-direction: column;
	gap: 1em;
	margin-bottom: 10em;
}

.imgDesignFuture {
	background-image: url(../images/illustration-editor-mobile.svg);
	background-repeat: no-repeat;
	background-size: contain;
	background-position: center;
	padding-top: 17em;
	padding-bottom: 17em;
}

.yap {
	text-align: center;
	padding-bottom: 4rem;
	font-weight: 200;
	padding-left: 1em;
	padding-right: 1em;
	font-size: 0.95em;
	line-height: 1.75em;
}

/* TODO PHONES SECTION TODO */

.stateArtSection {
	color: white;
	background: url(../images/bg-pattern-circles.svg) center -20vh, linear-gradient(45deg, var(--grad-bg-body-start), var(--grad-bg-body-end));
	background-size: contain;
	background-repeat: no-repeat;
	border-top-right-radius: 5rem;
	border-bottom-left-radius: 5rem;
}

.stateArtTitle {
	color: white;
}

.imgPhones {
	padding-top: 10em;
	padding-bottom: 10em;
	background-image: url(../images/illustration-phones.svg);
	background-repeat: no-repeat;
	background-position: center top;
	background-size: contain;
	margin-top: -10em;
}

/* TODO LAPTOP SECTION TODO */

.imgLaptop {
	padding-top: 10em;
	padding-bottom: 10em;
	background-image: url(../images/illustration-laptop-mobile.svg);
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
}

.attribution {
	border-top-right-radius: 5rem;
	font-size: 1em;
	padding-bottom: 3em;
}

.attribution h4 {
	font-size: 2.5em;
	margin: 1em;
}

.attribution h5 {
	font-weight: 700;
	font-size: 1em;
	margin-top: 1em;
	margin-bottom: 1em;
}

.attribution li {
	padding: 0.25em;
	font-weight: 300;
	color: rgba(255, 255, 255, 0.582);
}

.footerClick {
	color: rgb(187, 187, 187) !important;
}

.footerClick:hover {
	text-decoration: underline;
}

/* TODO dropdown phone TODO */

#dropdownPhone {
	display: none;
	opacity: 0;
	position: fixed;
	width: 90%;
	min-height: 50%;
	top: 25%;
	left: 5%;
	background-color: rgb(255, 255, 255);
	border-radius: 5px;
	box-shadow: 15px 15px 35px 15px rgba(0, 0, 0, 0.4);
	transition: opacity 0.5s, transform 0.5s;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 1em;
}

.subdivPhone {
	background-color: rgba(177, 177, 177, 0.418);
	width: 100%;
	color: var(--clr-vd-grayish-blue);
	font-weight: bold;
	display: none;
	flex-direction: column;
	justify-content: center;
	gap: 1em;
	padding-top: 1em;
	padding-bottom: 1em;
	border-radius: 5px;
}

.allButtonsMenuPhone {
	display: flex;
	flex-direction: column;
	gap: 2em;
	padding: 2em;
	padding-left: 0;
	padding-right: 0;
	border-bottom: 1px solid rgba(185, 185, 185, 0.562);
	width: 90%;
}

.phoneButton {
	border: none;
	background-color: white;
	background-image: url(../images/icon-arrow-dark.svg);
	background-position: calc(50% + 2.75em) center;
	background-repeat: no-repeat;
	background-size: 0.7rem;
	/* padding-right: 1em; */
	font-size: 1.25em;
	font-weight: 500;
}

.buttonDropdown {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

#loginButtonPhone {
	background-color: white;
}

#signUpButtonPhone {
	background: linear-gradient(135deg, var(--grad-bg-intro-start), var(--grad-bg-intro-end));
	color: white;
}

.phoneFormat {
	display: block !important;
}
